
		<meta charset="utf-8">
		<link rel="stylesheet" href="/assets/css/main.css">
		<link rel="stylesheet" href="/assets/css/all.min.css">
		<title><%= (locals.title !== undefined) ? locals.title : 'Node 2' %></title>