<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/header') %>

		<main>	
            <h1>Bienvenue dans ce petit quizz !</h1>
			<form method="post" action="/">
				<p>Tentez d'avoir le maximum de bonnes réponses !</p>
				<p>
					<button type="submit">Commencer</button>
				</p>
			</form>
		</main>
	</body>
</html>