<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<%- include('partials/head') %>
	</head>
	<body>
		<%- include('partials/header') %>

		<main>	

			<form method="post" action="/">
				<p>
					<textarea name="message" placeholder="Votre message"></textarea>
				</p>
				<p>
					<button type="submit">Enregistrer</button>
				</p>
			</form>
			
			<% if(questions.length == 0) { %>
				<p>Aucun message</p>
			<% }else{ %>
				<% for(question of questions){ %>
				<article class="message">
                    <p class="content"><%= question.title %></p>
                    <p><% question.answer %></p>
				</article>
				<% } %>

			<% } %>
		</main>
	</body>
</html>